<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Safal_Catalogpreview>
			<version>1.0.1</version>
		</Safal_Catalogpreview>
	</modules>
	<global>
		<helpers>
			<catalogpreview>
				<class>Safal_Catalogpreview_Helper</class>
			</catalogpreview>
		</helpers>
		<blocks>
			<catalogpreview>
				<class>Safal_Catalogpreview_Block</class>
			</catalogpreview>
		</blocks>
		<models>
			<catalogpreview>
				<class>Safal_Catalogpreview_Model</class>
			</catalogpreview>
		</models>
	</global>
	<frontend>
		<layout>
            <updates>
                <catalogpreview>
                    <file>catalogpreview.xml</file>
                </catalogpreview>
            </updates>
        </layout>
	</frontend>
	<admin>
        <routers>
			<catalogpreview>
				<use>admin</use>
				<args>
					<module>Safal_Catalogpreview</module>
					<frontName>catalogpreview</frontName>
				</args>
			</catalogpreview>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<catalogpreview>
					<file>catalogpreview.xml</file>
				</catalogpreview>
			</updates>
		</layout>
    </adminhtml>   
	<default>
		<catalogpreview>
			<general>
				<enabled>0</enabled>
				<selectcategory>3</selectcategory>
				<enableforupsell>0</enableforupsell>
				<enableforcrosssell>0</enableforcrosssell>
				<includejquery>0</includejquery>
				<imagescope>small_image</imagescope>
			</general>
			<style>
				<backgroundcolor>#FFFFFF</backgroundcolor>
				<borderwidth>1</borderwidth>
				<bordercolor>#000000</bordercolor>
				<title>1</title>
				<titlefontsize>12</titlefontsize>
				<titlebold>0</titlebold>
				<titlecolor>#000000</titlecolor>
				<titleposition>0</titleposition>
				<titlealign>center</titlealign>
				<previewpadding>10</previewpadding>
				<previewwidth>500</previewwidth>
				<previewzindex>10</previewzindex>
				<animation>/default/loader.gif</animation>
			</style>
		</catalogpreview>
	</default>
</config>